<?xml version="1.0" encoding="utf-8"?>
<manifest     
xmlns:android="http://schemas.android.com/apk/res/android"
package="com.sobinary.clockplus"
android:versionCode="17"
android:versionName="2.1"  
>                 
    <uses-sdk     
    android:minSdkVersion="14"
    android:targetSdkVersion="18"
    />  
          
    <uses-permission android:name="android.permission.INTERNET"/>  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	
	<supports-screens    
	android:resizeable="true"
    android:smallScreens="false"
    android:normalScreens="true"       
    android:largeScreens="true"
    android:xlargeScreens="true"   
	/>   

    <application 
	android:allowBackup="true"        
	android:icon="@drawable/sv"
	android:label="Holo Clock Widget++"
    > 
		<activity 
		android:name="com.sobinary.app.PreferencesActivity"
		>
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
    		</intent-filter>
		    		
		</activity>
            
		<activity 
		android:name="social.FaceActivity"
		android:theme="@style/Theme.Transparent"
		/>

		<service
		android:name="com.sobinary.work.WeatherService" 
		/>

		<service
		android:name="com.sobinary.work.MinuteService" 
		/>
				

		<service
		android:name="com.sobinary.work.CalService" 
		/>
		
		
		<receiver 
		android:name="com.sobinary.app.BigInfoProvider"     
		android:label="2-Holo Info Large++"
		>
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        	</intent-filter>
			  
			<meta-data
			android:name="android.appwidget.provider"
			android:resource="@xml/widget_provider_phone"
			/>
		</receiver>

		<receiver 
		android:name="com.sobinary.app.SmlInfoProvider"     
		android:label="3-Holo Info Small++"
		>
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        	</intent-filter>
			
			<meta-data
			android:name="android.appwidget.provider"
			android:resource="@xml/widget_provider_datetime"
			/>
		</receiver>
				
		<receiver 
		android:name="com.sobinary.app.BigClockProvider"     
		android:label="1-Holo Clock++"
		>
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        	</intent-filter>
			
			<meta-data
			android:name="android.appwidget.provider"
			android:resource="@xml/widget_provider_uni"
			/>
		</receiver>
								
    </application>
</manifest>
